.page {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  background-color: #D5E8F4;
}

.main-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  margin-right: 9px;
  height: 100%;
  width: 100%;
  background-color: #E0EBF7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  >h2 {
    min-height: 22px;
    border-radius: 3px;
    overflow: hidden;
    margin: 11px 6px 0 12px;
    font-size: 1.125rem;
  }

  .main-components {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .list {
    margin: 0 1px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .new-task {
      width: 100%;
      display: flex;

      form {
        width: 100%;
      }

      .new-task-title {
        display: flex;
        margin: 5px 10px;
        width: fill;
        box-sizing: border-box;

        input {
          width: 100%;
          outline: none;
          border-radius: 3px;
          border: 1px solid #d0d3d6;
          line-height: 1.25rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .tasks-index {
        padding: 3px 10px;

        li {
          padding: 4px 0;
        }

        li a {
          text-decoration: none;
          color: #000;
          font-weight: bold;
        }
      }
    }
  }

  .task {
    margin: 0 1px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .task-content {
      margin-top: 22px;
      margin-left: 15px;
    }

    .task-title {
      border-left: 3px solid #ccc;
    }

    .task-title>input {
      min-height: 22px;
      outline: none;
      display: block;
      font-size: 1.125rem;
      max-width: 420px;
      width: 80%;
      border-radius: 3px;
      margin-left: 3px;
      padding: 1px;
      cursor: text;
      word-wrap: break-word;
      border: 1px solid transparent;
      font-family: 'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif!important;
    }

    .task-title>input:hover {
      border-color: #d0d3d6;
    }

    .task-title>input:focus {
      border-color: #3295ff;
    }


    .task-details {
      display: flex;
      flex-direction: column;
      >div {
        padding: 5px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
