@import 'globals';

.page {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  background-color: #D5E8F4;
}

.main-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  margin-right: 9px;
  height: 100%;
  width: 100%;
  background-color: #E0EBF7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  >h2 {
    min-height: 22px;
    border-radius: 3px;
    overflow: hidden;
    margin: 11px 6px 0 12px;
    font-size: 1.125rem;
  }

  .main-components {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;

  }

  .list {
    margin: 0 1px;
    padding: 3px 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;


    .new-task {
      width: 100%;
      display: block;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;


        .new-task-title {
          display: flex;
          margin: 5px 0;
          width: fill;
          box-sizing: border-box;
          width: 100%;

          input {
            width: 100%;
            outline: none;
            border-radius: 3px;
            border: 1px solid #d0d3d6;
            line-height: 1.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        >input {
          color: $theme-font-color;
          background-color: #009dff;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          font-size: 15px;
          font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        >input:disabled {
          background-color: #d0d3d6;
        }
        #new-task-submit.hide {
          display: none;
        }
      }
    }

    .tasks-index {
      padding: 3px 0;

      .task-index-item {
        padding: 4px 0;
      }

      .task-index-item a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }
      .completed {
        text-decoration: line-through;
        a {
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  .list-summary {
    display: flex;
    height: 55px;

    div, p, label {
      display: flex;
    }
    >div>div {
      background-color: #D8E9F5;
      margin: 1px;
      vertical-align: top;
      display: inline-block;
      padding: 9px 13px;
      margin-right: 5px;
      line-height: 100%;
      border-radius: 5px;

      p {
        font-size: 1.1875rem;
        font-weight: bold;
        line-height: 100%;
        padding-top: 1px;
      }
      label {
        font-size: .75rem;
        padding-top: 2px;
      }
    }
    .summary-tasks>p {
      color: #0060bf;
    }
    .summary-incomplete>p {
      color: #d74a00;
    }
    .summary-complete {
      color: rgba(0,0,0,0.4);
    }
  }


  .task {
    margin: 0 1px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .task-content {
      margin-top: 22px;
      margin-left: 15px;
    }

    .task-title {
      border-left: 3px solid #ccc;
    }

    .task-title>input {
      min-height: 22px;
      outline: none;
      display: block;
      font-size: 1.125rem;
      max-width: 420px;
      width: 80%;
      border-radius: 3px;
      margin-left: 3px;
      padding: 1px;
      cursor: text;
      word-wrap: break-word;
      border: 1px solid transparent;
      font-family: 'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif!important;
    }

    .task-title>input:hover {
      border-color: #d0d3d6;
    }

    .task-title>input:focus {
      border-color: #3295ff;
    }




    .task-details {
      display: flex;
      flex-direction: column;
      padding-left: 30px;

      >div {
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }

      label {
        line-height: 25px;
      }

      .due-date, .task-status {
        width: 300px;
        justify-content: space-between;;
      }

      .due-date>input, .description>textarea {
        min-height: 15px;
        outline: none;
        display: block;
        font-size: .8125rem;
        border-radius: 3px;
        margin-left: 3px;
        padding: 1px;
        cursor: text;
        word-wrap: break-word;
        border: 1px solid #ccc;
        font-family: 'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif!important;
      }

      .task-status {
        p {
          line-height: 23px;
          font-weight: 500;
        }

        input {
          font-size: .8125rem;
          border-radius: 4px;
          border: 1px solid #ccc;
          color: $theme-font-color;
          background-color: #e6e6e6;
        }

        input:focus {
          outline: none;
        }

        .complete {
          color: #0060bf;
        }
        .incomplete {
          color: #d74a00;
        }
      }

      .description {
        display: block;
        width: 100%;
        box-sizing: border-box;

        .description-text {
          box-sizing: border-box;
          width: 100%;
          margin: 10px 0;
          height: 100px;
        }
      }
    }
  }
}
