@import 'globals';

.page {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  background-color: #f9e1b3;
}

.main-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 9px 0 9px 0;
  height: calc(100% - 20px);
  width: 100%;
  background-color: #edd9c0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .title {
    margin: 11px 16px 11px 22px;
    >h2 {
      min-height: 22px;
      border-radius: 3px;
      overflow: hidden;
      font-size: 1.25rem;
      font-weight: bold;
      color: $theme-accent-color;
    }
  }



  .main-components {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;

  }

  .list {
    margin: 0 1px;
    padding: 3px 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;


    .new-task {
      width: 100%;
      display: block;
      padding-bottom: 5px;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;


        .new-task-title {
          display: flex;
          margin: 5px 0;
          width: fill;
          box-sizing: border-box;
          width: 100%;

          input {
            width: 100%;
            outline: none;
            border-radius: 3px;
            padding: 5px;
            border: 1px solid #d0d3d6;
            line-height: 1.2rem;
            font-size: .9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 2;

          }
        }
        >input {
          color: $theme-font-color;
          background-color: $theme-color;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          font-size: 15px;
          font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
          -webkit-animation-duration: .3s;
          -moz-animation-duration: .3s;
        }
        >input:disabled {
          background-color: #d0d3d6;
        }
        >input:focus {
          outline: none;
        }
        #new-task-submit.hide {
          display: none;
        }
      }
    }

    .tasks-index {
      overflow: scroll;

      .task-index-item {
        border-top: 1px solid #ccc;
      }
      .task-index-item:last-of-type {
        border-bottom: 1px solid #ccc;
      }

      .task-index-item a {
        width: 100%;
        height: 100%;
        padding: 13px 5px;
        margin: 2px 0;
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }
      a:hover {
        background-color: #E6E6E6;
      }
      .completed {
        a {
          text-decoration: line-through;

          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  .list-summary {
    display: flex;
    height: 55px;
    margin-left: 5px;

    div, p, label {
      display: flex;
    }
    >div>div {
      background-color: #c9d8c5;
      margin: 1px;
      vertical-align: top;
      display: inline-block;
      padding: 9px 13px;
      margin-right: 5px;
      line-height: 100%;
      border-radius: 5px;

      p {
        font-size: 1.1875rem;
        font-weight: bold;
        line-height: 100%;
        padding-top: 1px;
      }
      label {
        font-size: .75rem;
        padding-top: 2px;
      }
    }
    .summary-tasks>p {
      color: #7d4627;
    }
    .summary-incomplete>p {
      color: #c50000;
    }
    .summary-complete {
      color: rgba(0,0,0,0.4);
    }
  }


  .task {
    margin: 0 1px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;

    .task-content {
      margin-top: 22px;
      margin-left: 15px;
    }

    .task-title {
      border-left: 3px solid #ccc;
    }

    .task-title>input {
      min-height: 22px;
      outline: none;
      display: block;
      font-size: 1.125rem;
      max-width: 420px;
      width: 80%;
      border-radius: 3px;
      margin-left: 3px;
      padding: 3px;
      padding-left: 7px;
      cursor: text;
      word-wrap: break-word;
      border: 1px solid transparent;
      font-family: 'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif!important;
    }

    .task-title>input:hover {
      border-color: #d0d3d6;
    }

    .task-title>input:focus {
      border-color: $theme-color;
    }

    .task-details {
      display: flex;
      flex-direction: column;
      padding-left: 30px;

      >div {
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }

      label {
        line-height: 25px;
      }

      .due-date, .task-status {
        width: 300px;
        justify-content: space-between;;
      }

      .due-date>input, .description>textarea {
        min-height: 15px;
        outline: none;
        display: block;
        font-size: .8125rem;
        border-radius: 3px;
        margin-left: 3px;
        padding: 1px;
        cursor: text;
        word-wrap: break-word;
        border: 1px solid #ccc;
        font-family: 'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif!important;
      }

      .task-status {
        p {
          line-height: 23px;
          font-weight: 500;
        }

        input {
          font-size: .8125rem;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #fff;
        }

        input:focus {
          outline: none;
        }

        .complete {
          color: $theme-color;
        }
        .incomplete {
          color: #d74a00;
        }
      }

      .description {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding-right: 40px;
        .description-text {
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
          margin: 10px 0;
          height: 100px;
        }
      }
    }
  }
}
