@import '../globals';

.nav-bar-container {
  display: block;
}

.nav-bar {
  display: flex;
  min-height: 40px;
  width: 100%;
  background-color: $theme-color;
  align-items: center;
  justify-content: center;
  color: $theme-font-color;

  .header-group {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    min-height: 40px;
    vertical-align: baseline;

    .search-bar {
      width: 33%;

      >input {
        width: 100%;
        outline: none;
        border-radius: 3px;
        border: 0;
        padding: 5px 13px;
        line-height: 1.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #264a47;
        transition: background-color .7s;
      }
      >input:focus {
          background-color: #fff;
      }
    }

    a {
      color: $theme-font-color;
      text-decoration: none;
      padding: 10px;
      border-radius: 4px;

      transition: background-color .5s;
    }
    a:hover {
      background-color: #264a47;
    }
  }
}
