.sidebar {
  width: 20%;
  min-width: 178px;
  max-width: 228px;
  height: 100%;
  display: inline-block;
  padding: 11px;


  ul li {
    white-space: nowrap;
    padding: 0;
    outline: none;
  }

  ul li, .list-header {
    display: flex;
    justify-content: space-between;
    color: #0058af;
  }

  .list-header {
    padding: 3px 0;
  }

  ul li>a {
    width: 100%;
    height: 100%;
    padding: 3px 10px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list-header button {
    display: block;
    font-size: .75rem;
    line-height: .2rem;
    padding: 0 0 3px 0;
    margin: 1px 5px 1px 0;

  }

  ul li:hover {
    background-color: #B8D8ED;
  }
  button {
    display: none;
    padding: 0;
    margin: 3px 5px 0 0;
    width: 15px;
    height: 15px;
    font-size: .5rem;
    line-height: .7rem;
    cursor: pointer;
    color: #7ab2e0;
    background-color: transparent;
    outline: none;
    border-color: #7ab2e0;
    outline: none;
    border: 1px solid;
    border-radius: 3px;
    overflow: hidden;
  }

  .active {
    display: block;
  }

  button:hover {
    background-color: #7ab2e0;
    border-color: transparent;
    color: #E0EBF7;
  }

  ul .list-index-item:hover button {
    display: block;
  }
}

.dropdown-container {
  display: inline-block;
  position: relative;

  div {
    z-index: 11;
    position: absolute;
    display: none;
    width: 120px;
    max-height: 300px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    font-family: 'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif;
    outline: 0;

    a {
      box-sizing: border-box;
      padding: 3px 5px;
      width: 100%;
      text-decoration: none;
      color: #000;
    }

    >a:hover {
      background-color: #E0EBF7;
    }
  }

  .show {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
}

.ModalClass {
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 200px;
  max-width: 400px;
  max-height: 300px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  font-family: 'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif;


  .modal-div {
    padding: 29px 37px;
    display: flex;
    align-items: left;
    flex-direction: column;
    font-size: .8125rem;

    .input {
      margin: 7px 0 0 0;
      padding: 10px 0;
    }

    .buttons {
      display: flex;
      margin: 10px 0;

      button, input {
        align-items: flex-start;
        margin: 0 8px 0 0;
        cursor: pointer;
        background-color: #fbfbfa;
        color: #444;
        border: 1px solid #c7cacd;
        text-shadow: none;
        line-height: .875rem;
        outline: none;
        border-radius: 3px;
        height: 32px;
        position: relative;
        font-size: .875rem;
        font-weight: bold;
        text-align: center;
        padding: 6px 13px;
        min-width: 70px;
        vertical-align: middle;
        white-space: nowrap;
        box-sizing: border-box;
      }

      input {
        background-color: #2e8ceb;
        color: #fff;
      }

    }

    h2 {
      font-size: 1.125rem;
      font-weight: normal;
      line-height: 1.5rem;
    }

    form {
      .input-text {
        cursor: text;
        outline: none;
        border: 1px solid #d0d3d6;
        padding: 5px 6px;
        height: 16px;
        line-height: 16px;
        line-height: 1rem;
        border-radius: 3px;
        width: 300px;
        margin-top: 5px;
      }
      .input-text:focus {
        border-color: #3295ff;
      }
    }
  }
}
.ModalClass:focus {
  outline: 0;
}
